extends layout

block content
  .container-fluid
      h1.text-danger= title
      hr
      .controls
        form.form-inline
        .form-group
            button.btn.button-submit.btn-primary(type="submit")  Submit